#progress-bar {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 0;
}

.progress-tile {
  border: 1px solid black;
  background-color: #e0dcd7;
  height: 30px;
}

.back {
  background-color: #fffbf5;
  font-size: 1rem;
  display: block;
  text-align: left;
}

.assessment {
  padding-top: 20px;
  min-width: 380px;
  width: 50%;
  height: 50vh;
  margin: auto;
  box-shadow: 1px 2px 2px #28234F, -1px 2px 2px #28234F;
  background-color: #b1b0bf;
}

.assessment h4 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.6rem;
  margin-top: 0;
}

.assessment div {
  text-align: center;
}

.selectable {
  background-color: #fffbf5;
}

.selected {
  background-color: #ffcc7a;
}

.assessment-tile {
  background-color: #b1b0bf;
}

.prompt {
  font-family: 'Nunito', sans-serif;

}
