#progress-bar {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 3px;
  box-shadow: 0 2px 2px #28234F;
}

.progress-tile {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 6px;
  background-color: #cbc7c3;
  height: 30px;
}

.back {
  background-color: #fffbf5;
  font-size: 1rem;
  display: block;
  text-align: left;
}

.back:hover {
  background-color: #ffe4b8;
}

.assessment {
  padding-top: 20px;
  min-width: 380px;
  width: 50%;
  margin: auto;
  box-shadow: 1px 2px 2px #28234F, -1px 2px 2px #28234F;
  background-color: #555178;
  color: #FBECD2;
  text-shadow: 1px 1px black
}

.assessment div {
  text-align: center;
}

.selectable {
  background-color: #fffbf5;
}

.selectable:hover {
  background-color: #ffe4b8;
}

.selected {
  background-color: #ffcc7a;
}

.assessment-tile {
  background-color: #555178;
}

.prompt {
  color: #FBECD2;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.6rem;
  margin-top: 0;
  font-family: 'Nunito', sans-serif;
}

.form {
  padding: 10px;
  font-size: 3rem;
}

.form i:hover {
  color: #FFCC71;
}

#submit {
  font-size: 4rem;
  border: 1px solid #FBECD2;
  padding: 10px;
  border-radius: 5px;
}

#submit:hover {
  color: #FFCC71;
}
