#progress-bar {
  width: 60%;
  margin-top: 30px;
  margin-bottom: 3px;
  box-shadow: 0 2px 2px #28234F;
}

.progress-tile {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 6px;
  background: linear-gradient(to bottom, #fffbf5, #555178);
  height: 30px;
}

.back {
  font-size: 1rem;
  display: block;
  text-align: left;
}

.back:hover {
}

.assessment {
  padding: 40px 0;
  min-width: 380px;
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 1px 2px 2px #28234F, -1px 2px 2px #28234F;
  background-color: #555178;
  color: #FBECD2;
  text-shadow: 1px 1px black
}

.assessment div {
  text-align: center;
}

.selectable {
  background: linear-gradient(to bottom, #fffbf5, #555178);
}

.selectable:hover, .back:hover {
  background: linear-gradient(to bottom, #fffbf5 25%, #555178);
}

.selected {
  background: linear-gradient(to bottom, #fffbf5 10%, #28234F);
}

.assessment-tile {
  background-color: #555178;
  height: 60vh;
}

.prompt {
  color: #FBECD2;
  padding: 15px;
  text-align: center;
  height: 30%;
  margin-bottom: 20px;
  font-size: 2.6rem;
  margin-top: 0;
  font-family: 'Prosto One', cursive;
  text-shadow: 1px 3px 2px #28234F;
}

.form-label {
  height: 70px;
}

.form {
  padding: 10px;
  font-size: 3rem;
}

.form i {
  font-size: 4rem;
}

.form i:hover {
  color: #FFCC71;
}

#submit {
  display: inline-block;
  margin-top: 140px;
  margin-bottom: 50px;
  font-size: 5rem;
  border: 1px solid #FBECD2;
  padding: 10px;
  border-radius: 8px;
}

#submit:hover {
  background-color: #726F91;
  color: #FFCC71;
  border: 1px solid #FFCC71;
  box-shadow: 0px 4px 2px #423a5a;
}
