.day {
  border-left: 1px solid #FAECD4;
  border-right: 1px solid #FAECD4;
  min-height: 120px;
  max-height: 120px;
  margin-bottom: 2px;
  padding: 5px 15px;
  font-size: 14px;
}

.plan {
  margin: 40px 0
}

.phase-BF .week .day {
  background-color: #b6b5c5;
}

.phase-HB .week .day {
  background-color: #9997AE;
}

.phase-POW .week .day {
  background-color: #726F91;
}

.phase-PE .week .day {
  background-color: #555178;
}

.exercise {
  font-weight: bold;
}

.info-icon {
  padding-left: 10px;
}

.modal {
  padding: 10px;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  background-color: #fff9f0;
}
