.day {
  border-left: 1px solid #FAECD4;
  border-right: 1px solid #FAECD4;
  min-height: 18vh;
  max-height: 100px;
  margin-bottom: 2px;
  font-size: 14px;
}

.plan {
  margin-top: 30px
}

.phase-BF .week .day {
  background-color: #b6b5c5;
}

.phase-HB .week .day {
  background-color: #9997AE;
}

.phase-POW .week .day {
  background-color: #726F91;
}

.phase-PE .week .day {
  background-color: #555178;
}
