.slogan {
  font-family: 'Permanent Marker';
  padding-left: 40px;
  color: #28234F;
  text-shadow: 1px 1px 1px #fdf7ed, -1px 1px 1px #fdf7ed, 1px -1px 1px #fdf7ed, -1px -1px 1px #fdf7ed;
}

.login-fail {
  font-family: 'Permanent Marker';
  color: #28234F;
  float: right;
  padding-right: 20px;
}

.sign-up-page {
  background-image: asset_url("sharma.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 695px;
}

.sign-up {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  border-radius: 5px;
  background: rgba(85, 81, 120, 0.55);
  box-shadow: 1px 1px 10px 1px #141127, -1px 1px 10px 1px #141127;

  h4 {
    text-align: center;
    color: #f9e9cd;
    font-family: 'Permanent Marker';
    text-shadow: 2px 2px 3px #28234F;
  }

  h2 {
    text-align: center;
  }

  label {
    padding-left: 10px;
    color: #fdf7ed;
  }

  .field {
    width: 60%;
    margin: auto;
    color: #28234F;
    em {
      text-shadow: 1px 0px 2px #fdf7ed;
    }
  }

  h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px #28234F, -2px 2px 3px #28234F;
    font-family: 'Permanent Marker';
  }
}

.next-steps {
  padding: 20px;
  margin-top: 40px;
}

.actions {
  height: 50px;
  width: 20%;
  margin-left: 40%;

  input {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 30px;
    background: #28234F;
    font-family: 'Permanent Marker';
  }

  input:hover {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    color: white;
    background: #332c63;
  }
}
